<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<!--NAVBAR-->
    <nav th:replace="fragments/navbar :: menu"></nav>
<!--TERMINA NAVBAR-->

<!--BREADCRUMB-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Otro</li>
  </ol>
</nav>
<!--TERMINA BREADCRUMB-->

    <h1 th:text="${titulo}"></h1>
    <a th:href="@{/}">ir a otra página</a>
</body>
</html>