<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary"
     th:fragment="menu">

  <div class="container-fluid">
    <a class="navbar-brand" href="/">Navbar</a>

    <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ofertaEducativa">Oferta Educativa</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/ofertaEducativa/tabla">Lista</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"
             role="button" data-bs-toggle="dropdown">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/other">Action</a></li>
            <li><a class="dropdown-item" href="#">Another</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
